.container {
    border:1px solid #efefef;
    background-color:   #fdfefe  ;
    padding: 10px;
    height: 400px;
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.input-text {            
    border:none;
    background-color: transparent;
    text-align: right;
    width: 100%;
    height: 20px;
    display: block;
    margin: 0%;margin-left: 5px; margin-right: 5px;
    font-size:18px;
    padding-right:5px;
}
#resultText{
    color:  #fc7e15 ;
}

/*
#result{
    margin-bottom: 25px;
}*/

.circle {
    height: 50px;
    width: 50px;
    border: 1px solid #cacaca;
    border-radius: 50%;
    margin: 5px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color:#1C1C1C;
}
.circle:hover{
    transition-duration: 0.5s;
    border: 1px solid transparent;
}
.deactivated-button:hover{
    transition-duration: 0.5s;
    color: transparent;
    background-color: transparent;
}
.light-gray{
    background-color: #efefef;
}
.dark-gray{
    color:#fff;
    background-color:    #616a6b ;
}
.pink{
    color:#fff;
    background-color:  #fa0474 ;
    border: 1px solid #fa0474;
}
.orange{
    color:#fff;
    background-color:  #fc7e15 ;
    border:1px solid #fc7e15;
}
span{
    font-size: 22px;
}
.number:active{
    background-color: #efefef;
    border: 1px solid #cacaca;
}
@media screen and (max-width: 300px){
    html, body{
        padding-left:0px;
        padding-right:0px;
        margin-left:0px;
        margin-right:0px;
    }
    .container{
        padding:2px;
    }
    span{
        font-size: 18px;
    }
}
@media screen and (max-width: 260px){
    .input-text {  
        margin-left: 0px; margin-right: 0px;
        font-size:14px;
        padding-right:2px;
    }
    .container {
        padding: 1px;
        width: auto;
        margin: 0%;
        margin-left:auto;margin-right:auto;
    }
    /*there will be no circle shape in order to win the space*/
    .circle {
        height: 40px;; line-height:40px;
    width: 20%;
    border: none;
    border-radius: 0%;
    margin: 1.8%;
    font-size:1em;
    border:1px solid transparent;
    }
    

    .light-gray{
        transition-duration: 0.5s;
        background-color:transparent;
        border-bottom: 2px solid #efefef;
    }
    .light-gray:hover{
        background-color: #efefef;
        transition-duration: 0.5s;   
        border-bottom: 2px solid #efefef;     
    }
    .deactivated-button:hover{
        transition-duration: 0.5s;
        color: transparent;
        background-color: transparent;
        border-bottom:none;
    }
    .dark-gray{
        color:#616a6b;
        transition-duration: 0.5s;
        background-color:transparent;
        border-bottom: 2px solid #616a6b;
    }
    .dark-gray:hover{
        background-color: #616a6b;
        color:#fff;
        transition-duration: 0.5s;   
        border-bottom: 2px solid #616a6b;  
    }
    .pink{
        color:#fa0474;
        transition-duration: 0.5s;
        background-color:transparent;
        border-bottom: 2px solid #fa0474;
    }
    .pink:hover{
        background-color: #fa0474;
        color:#fff;
        transition-duration: 0.5s;   
        border-bottom: 2px solid #fa0474; 
    }
    .orange{
        color:#fc7e15;
        transition-duration: 0.5s;
        background-color:transparent;
        border-bottom: 2px solid #fc7e15;
    }
    .orange:hover{
        background-color: #fc7e15;
        color:#fff;
        transition-duration: 0.5s;   
        border-bottom: 2px solid #fc7e15; 
    }
    .number{
        color:#1C1C1C;
        border:1px solid transparent;
        transition-duration:0.5s;
    }
    .number:hover{
        transition-duration:0.5s;
        border-bottom:1px solid #1C1C1C;
        color:#1C1C1C;
    }
    
}


/* The following animation will be called by js code when user clicks on
PC calculatorPad.... if user clicks on '9' on his calculatorPad
then the number 9 in the UI will be animated with this */
@keyframes highlight-pc-calculatorPad-clicked-button-inUI{            
    0%{background-color:#fff;}
    50%{background-color:#efefef;}
    100%{background-color:#efefef;} 
}

/*The following is only used to guide the user to working buttons*/
.highlighted-button{
    animation-name:colorize;/*Use 'pulse' animation to animate the class '.heart'*/
    animation-duration:3s;
    animation-iteration-count:infinite;
}
@keyframes colorize{            
    0%{background-color:#efefef;}
    50%{background-color:#81F7F3;} 
}